.link
  font-family: "Roboto Bold", sans-serif
  text-transform: uppercase
  text-decoration: none
  &--half-dark
    font-family: "Roboto Light", sans-serif
    color: $half-dark
  &--dark
    color: $dark  
