.calc
  padding-top: rem-calc(120)
  padding-bottom: rem-calc(120)
  background: url('../img/calc/waves-left.svg') no-repeat left bottom, url('../img/calc/waves-right.svg') no-repeat right bottom
  &__section-title
    &-heading
      max-width: rem-calc(510)
      margin-bottom: rem-calc(30)
    &-text 
      max-width: rem-calc(360)  
      margin: 0 auto
      margin-bottom: rem-calc(64)